#logoP{
	height: 15rem;
}

footer{
  text-align: center;
  padding: 1rem;
  background-color: #8D6B48;
  color: #F5D7BD;
  width: 100%;
  left: 0;
  bottom: 0;
  position: absolute;
}

footer a{
  text-decoration: none;
  color: #F5D7BD;
  font-size: 1rem;
}

header{
	background-color: #8D6B48!important;
}

header p{
	font-size: 1rem !important;
	font-weight: bold;
}

body{
	background-color: #E3E3E8;
  position: relative;
	height: 100%;
  padding-bottom: 10rem;
  min-height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header a p{
	cursor: pointer!important;
}

#titulo,#subtitulo{
  color: #F5D7BD;
}

@media only screen and (max-width: 400px) {
  .img {
    width: 150px;
    height: 150px!important;
  }
  header div div span{
    padding-top: 1rem!important;
    font-size: 1rem!important;
  }
  header div div h1{
    font-size: 2rem!important;
  }
  header div div p{
    font-size: .5rem!important;
  }

  .drop{
    font-size: .5rem!important;
    margin-bottom: 1rem!important;
    line-height: 0.5;

  }
}

@media only screen and (max-width: 300px) {
  .img {
    width: 100px;
    height: 100px!important;
  }
  .responsiv{
    padding-top: 1.5rem!important;
  }
}
@media only screen and (max-width: 200px) {
  .responsive{
    display: block;
    margin-top: 1rem!important;
    padding-bottom: .5rem!important;

  }

  .img {
    width: 50px;
    height: 50px!important;
  }
  
  header div div span{
    font-size: 10px!important;
  }
  header div div h1{
    font-size: 10px!important;
  }
  header div div p{
    font-size: 5px!important;
  }
}